#out {
  max-height: 85vh;
  overflow: auto;
}

#in {
  width: 90%;
}

.main {
  max-width: 500px;
  margin: auto;
  margin-top: 2em;
  padding: 1em;
  border: 1px solid black;
  font-family: 'Source Code Pro', monospace;
}
