:root {
  --background: white;
  --focus: #f8f8f8;
  --border: black;
  --link: #808080;
  --link-hover: #494949;
  --text: black;
}

.dark {
  --background: #242424;
  --focus: #2f2f2f;
  --border: black;
  --link: #DBDBDB;
  --link-hover: #494949;
  --text: #DBDBDB;
}

#webconsole-out {
  max-height: 85vh;
  overflow: auto;
}

#webconsole-in {
  width: 100%;
  font-size: inherit;
  background-color: var(--background);
  border: none;
  border-bottom: 0.15em solid var(--link);
  outline: none;
  color: inherit;
  transition: 0.4s;
  padding: 0.15em;
}

#webconsole-in:focus {
  background: var(--focus);
}

* {
  font-family: 'Source Code Pro', monospace;
}

.main, footer {
  max-width: 40em;
  margin: auto;
}

.main {
  margin-top: 1vh;
  padding: 1em;
  border: 1px solid var(--border);
}

body {
  color: var(--text);
  background: var(--background);
  transition: 0.4s;
}

a {
  color: var(--link);
}

footer, footer a {
  margin-top: 2em;
  text-align: center;
}

a:hover {
  color: var(--link-hover);
}

#toggle-theme {
  cursor: pointer;
  text-decoration: underline;
  float: right;
  margin-top: 0em;
}
